<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h1>====== ng zorro ======</h1>
  <nz-card style="width:300px;" nzTitle="Card title" [nzExtra]="extraTemplate">
      <p>Card content</p>
      <p>Card content</p>
      <p>Card content</p>
    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>



    <h1>====== ng zorro mobile ======</h1>
     <WingBlank [size]="'lg'">
      <Card>
        <CardHeader [title]="'This is title'"
                    [thumb]="'https://gw.alipayobjects.com/zos/rmsportal/MRhHctKOineMbKAZslML.jpg'"
                    [thumbStyle]="thumbStyle"
                    [extra]="extra"
        >
          <ng-template #extra>
            <span>this is extra</span>
          </ng-template>
        </CardHeader>
        <CardBody>
          <div>This is content of Card</div>
        </CardBody>
        <CardFooter [content]="'footer content'" [extra]="footerExtra">
          <ng-template #footerExtra>
            <div>extra footer content</div>
          </ng-template>
        </CardFooter>
      </Card>
    </WingBlank>
</ion-content>
